<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appsys.dao.datadictionary.DevDataDictionaryMapper">
	<!-- 获取app状态和所属平台的集合 -->
	<select id="getAppStatusAndFlatList" resultType="DataDictionary">
		select * from data_dictionary where typeCode = #{typeCode}
	</select>
	<!-- 获取一，二，三级分类的集合 -->
	<select id="getAppCategoryListByParentId" resultType="AppCategory">
		select id,categoryCode,categoryName from app_category 
		<trim prefix="where" prefixOverrides="and | or">
			<if test="parentId != null">
				and parentId = #{parentId}
			</if>
			<if test="parentId == null">
				and parentId is null
			</if>
		</trim>
	</select>
</mapper>
